
body {
	font-family: "Adobe Garamond Pro", Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 1.5em;
	color: black;
}

h1 {
	font-size: 40px;
	line-height: 1.2em;
	position:relative;
  top:0px;
}

p {
	position:relative;
}

button {
	margin-right: auto;
	margin-left: auto;
	display:block;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 0px;
	padding-top: 1px;
	background-color: black;
}

button.start {
	background-color: white;
	color: gray;
}

a.start {
	text-decoration: none;
	color: white;
}

a.link {
  color: #AAAAAA;
}

a {
	text-decoration: none;
	color: black;
}

.anchor {
  font-family: helvetica;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #AAAAAA;
}

.anchorsub {
  font-family: helvetica;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #AAAAAA;
}
